/*******************
///////index.html///
*******************/
html {
  height: 100%; 
}

body {
  margin: 0;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: .7em;
  background: linear-gradient(#2f96a3, rgb(48,62,148));
}

/*******************
///////App.js///////
*******************/
#sun {
  color: yellow;
  font-size: 2em;
  padding-right: 8px;
}

.header {
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 15px;
}

.header h1 {
  display: inline;
  text-shadow: 2px 2px 2px rgba(206,89,55,0) ;
}

.searchBar {
  margin: auto;
  text-align: center;
}

/*******************
////search.js////////
*******************/

#search {
  display: inline-block;
}

#button {
  padding: 4px;
  cursor: pointer;
}

#button:hover {
  color: white;
  background-color: #3aabc7;
}

/*******************
////media queries///
*******************/
@media screen and (max-width: 330px){
  .header {
    min-width: 300px;
  }

  .searchBar {
    min-width: 330px;
  }
}