/*******************
///////index.html///
*******************/
html {
  height: 100%
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: .7em;
  background: linear-gradient(#2f96a3, rgb(48,62,148));
  background-repeat: no-repeat;
}

/*******************
///////App.js///////
*******************/
.App {
  margin: 0;
  padding: 0;
  border: 0;
}
#sun {
  color: yellow;
  font-size: 2em;
  padding-right: 8px;
}

.header {
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
}

.header h1 {
  display: inline;
  text-shadow: 2px 2px 2px rgba(206,89,55,0) ;
}

.searchBar {
  margin: auto;
  text-align: center;
  padding: 10px;
}

/*******************
////search.js////////
*******************/

#search {
  display: inline-block;
}

#button {
  padding: 4px;
  cursor: pointer;
}

#button:hover {
  color: white;
  background-color: #3aabc7;
}

/*******************
////weather.js//////
*******************/
.weatherWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  
}

.tempIcon{
  color: white;
  text-align: center;
  height: 200px;
  width: 400px;
  margin: auto;
  font-size: 22px;
  justify-content: center; 
}

.tempIcon h4 {
  font-size: 12px;
}

.nameDate {
  color: white;
  text-align: center;
}

#description {
  font-size: 28px;
}


/*******************
////media queries///
*******************/
@media screen and (max-width: 330px){
  .header {
    min-width: 300px;
  }

  .searchBar {
    min-width: 330px;
  }
}

@media screen and (max-width: 360px){
  .nameDate {
    min-width: 360px;
  }
}