/*******************
///////index.html///
*******************/
html {
  height: 100%; 
}

body {
  margin: 0;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: .7em;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,148));
}

/*******************
///////App.js///////
*******************/
#sun {
  color: yellow;
  font-size: 2em;
  padding-right: 8px;
}

.header {
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 15px;
}

.header h1 {
  display: inline;
}